header {
    text-align: center;
    font-size: 500%

}

h6 {
  font-size: 40%
}

article.gallery {
    margin: 80px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 350px;
  }
  
article.gallery:hover {
    border: 1px solid #777;
  }
  
article.gallery img {
    width: 200px;
    height: 180px;
  }
  


    
  