header {
    text-align: center;
    font-size: 500%

}

h6 {
  font-size: 40%
  
}

article.gallery {
    margin: 80px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 350px;
    text-align: center;
  }
  
article.gallery:hover {
    border: 5px solid rgb(7, 7, 7);
  }
  
article.gallery img {
    width: 290px;
    height: 200px;
  }

footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:20px;
}

#color{
  color: rgb(5, 44, 56)
}

html{
  background-color: darkseagreen
}


  


    
  